

#about {
	width: 100vh;
	height: 70vh;
	display:  flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	margin: 40px auto;
	
}


#about .text {
	display:  flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	padding:  10px;

}


#about .text img {
	width:  150px;
	transition: all .3s ease-in-out;
}
#about .text img:hover {
	transform: scale(1.09);
}

#about .text p {
	width: 300px;
	color: white;
}


#about .text p span {

	display:  block;
	margin: 10px 3px;
}


/* desktop */


 /* phone */
@media screen and (max-width: 700px) {

#about  {

	width:  80vw;
	height: 100vh ;
	margin: auto auto;
}


#about .text {
	display:  flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-direction:  column;
}
}