@keyframes active {
    0% {
        top: 50px;
        opacity: 0;
    }
}

@keyframes deactive {
    100% {
        /* border-radius: 10px;
        height: 0;
        width: 0; */
        top: 10px;
        opacity: 0;
    }
}


@keyframes show {
    0% {
        transform: scaleX(0);
        background: white;
        color:  black;
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes hide {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes colorSwitch {
    0% {
        border-bottom: 1px blue solid;
    }
    50% {
        border-bottom: 1px crimson solid;
    }
    100% {
        border-bottom: 1px blue solid;
    }
}

@keyframes click {
    0% {
        background-color: green;
    }
    50% {
        background-color: rgb(33, 100, 33);
    }
    100% {
        background-color: green;
    }
}
@keyframes show1 {
    0% {
        opacity: .3;
        width: 20%;
    }
    25% {
        opacity: .3;
        width: 20%; 
    }
    50% {
        width: 100px;
        opacity: 1;
    }
    75% {
        width: 100px;
        opacity: 1;
    }
    100% {
        opacity: .3;
        width: 20%;
    }
}
@keyframes show2 {
    0% {
        opacity: .3;
        width: 20%;
    }
    25% {
        width: 100px;
        opacity: 1;
    }
    50% {
        width: 100px;
        opacity: 1;
    }
    75% {
        opacity: .3;
        width: 20%;
    }
    100% {
        opacity: .3;
        width: 20%;
    }
}


/* scaling anime for desktop due to scale diffrences */
@keyframes show3 {
 0% {
        opacity: .3;
        width: 100px;
    }
    25% {
        opacity: .3;
        width: 100px; 
    }
    50% {
        width: 30%;
        opacity: 1;
    }
    75% {
        width: 30%;
        opacity: 1;
    }
    100% {
        opacity: .3;
        width: 100px;
    }   
}
@keyframes show4 {
    0% {
        opacity: .3;
        width: 100px;
    }
    25% {
        width: 30%;
        opacity: 1;
    }
    50% {
        width: 30;
        opacity: 1;
    }
    75% {
        opacity: .3;
        width: 100px;
    }
    100% {
        opacity: .3;
        width: 100px;
    }
}

@keyframes GrowALL {
    0% {
        width: 0;
        height: 0;
    }
}

@keyframes GrowInWidth {
    0% {
        width: 0;
    }
}