@keyframes active {
    0% {
        /* border-radius: 10px;
        height: 0;
        width: 0; */
        top: 50px;
        opacity: 0;
    }
}

@keyframes deactive {
    100% {
        /* border-radius: 10px;
        height: 0;
        width: 0; */
        top: 10px;
        opacity: 0;
    }
}


/* footer animation*/

@keyframes navshow {
    from {
        top: 0;
        right: 0;
        border-radius: 0 0 400px 0;
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes hidenav {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes showLi {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
}

@keyframes divClick {
    0% {
        transform: scale(0);
        /* border: 1px; */
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}