@keyframes active {
    0% {
        top: 50px;
        opacity: 0;
    }
}

@keyframes deactive {
    100% {
        /* border-radius: 10px;
        height: 0;
        width: 0; */
        top: 10px;
        opacity: 0;
    }
}


@keyframes show {
    0% {
        transform: scaleX(0);
        
        background: white;
        color:  black;
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes hide {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes colorSwitch {
    0% {
        border-bottom: 1px blue solid;
    }
    50% {
        border-bottom: 1px crimson solid;
    }
    100% {
        border-bottom: 1px blue solid;
    }
}

@keyframes click {
    0% {
        background-color: green;
    }
    50% {
        background-color: rgb(33, 100, 33);
    }
    100% {
        background-color: green;
    }
}