 body .artSection{
	color: white;
	width: 80vh;
	height:  80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin: 10px auto;
	/* border: 1px white solid; */
	padding:  10px;
	border-radius:  10px;
}

body .artSection .innerArt {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin: auto auto;
	width:  100%;
	/* border:  1px yellow solid; */
	padding:  10px;
}
body .artSection .innerRow {
	display: block;
		display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin: auto auto;
	width:  60%;
	/* border:  1px yellow solid; */
	padding:  10px;
}
body .artSection .innerArt img, .innerRow img {
	transition: all 1s ease;
	margin: 0 20px;
}
body .artSection .innerArt img, .innerRow img{
	width: 100px;
	cursor: pointer;
}

body .artSection .innerArt img:hover, .innerRow img:hover {
	width: 150px;
}
/* body .artSection .innerArt img:nth-child(1) {
		animation: show3 6s infinite;
	}
body .artSection .innerArt img:nth-child(3) {
		animation: show4 6s infinite;
		
} */





@media screen and (max-width: 500px) {
	body .artSection {
		width: 70vw;
		height: 70vh;
		margin: 30px auto;
	}
	body .artSection .innerArt {
	width:  100%;
	}
	body .artSection .innerArt img, .innerRow img {
		width: 30%;
	}
	body .artSection .innerArt img:nth-child(1) {
		/* animation: show1 6s infinite; */
	}
	body .artSection .innerArt img:nth-child(3) {
		/* animation: show2 6s infinite; */
	}

}
