@import './animations.css';
.s1 {
    display: block;
    /* background:  red; */
    height:  65vh;
}
.inner-section {
    width: 100%;
    /* background: cyan; */
    padding: 30px;
    height: 50vh;
    margin: 10px auto;
}

.inner-section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    box-sizing: border-box;
}

.inner-section div img {
    height: 300px;
    border-radius: 10px;
}

.inner-section div div {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}



.s section {
    display: flex;
    width: 100%;
}


.innerdiv p {

    font-weight: 600;
    color: white;
}


.inner-section div p:nth-child(2) strong {
    box-sizing: border-box;
}

.talk {
    width: 100px;
    height: 40px;
    color: white;
    background-color: green;
    border-radius: 10px;
    margin: auto 100px;
    cursor: pointer;
    z-index: 100;
    text-align: center;
    transition: all .6s ease-in-out;
    animation: click 1s infinite;
}

.talk:hover {
    background: rgb(69, 172, 69);
}


@media screen and (max-width: 768px) {
    .s1 {
        height: 40vh;
        
    }

    .inner-section {
        height: 35vh;
        width: 70%;
        /* background: red; */
        align-items: center;
        justify-content: center;
    }
    .inner-section div div {
        width: 300px;
    }
    .inner-section div {
        flex-direction: column;
        width: 100%;
    }
    .inner-section div img {
        display: none;
    }
}
@media screen and (max-width: 500px) {

    .s1 {
        height: 40vh;
        
    }
    .inner-section {
     height: 35vh;
     width: 70%;
 
     display: flex;
     align-items: center;
     justify-content: center;
    }
  
    .innerdiv p {
       
        width: 300px;
    }

}
@media screen and (max-width: 414px) {
    .s1 {
        height: 50vh;

    }
    .inner-section {
        height: 60vh;
        width: 100%;
    }
}