@import './animations.css';

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    background-color: transparent;
}

#navbar ul ul li,
#navbar ul li {
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    width: 100px;
    height: 30px;
    transition: all 1s ease-in-out;
    margin: 20px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


#navbar>img {
    margin-right: auto;
    height: 30px;
    display: none;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

#navbar ul ul li:nth-child(1) a {
    color: lightblue;
}

#navbar ul ul li:nth-child(1),
#navbar ul ul li:nth-child(2),
#navbar ul ul li:nth-child(3),
#navbar ul ul li:nth-child(4) {
    background: none;
    cursor: pointer;
    transform: all 1s ease;
    transition: font-size .3s ease;

}

#navbar ul ul li:nth-child(1):hover,
#navbar ul ul li:nth-child(2):hover,
#navbar ul ul li:nth-child(3):hover,
#navbar ul ul li:nth-child(4):hover {
    font-size: 1.3em;
    color: lightblue;
}

#navbar ul ul li:nth-child(1) {
    margin-left: 0;
    /* background-color: yellow; */
    width: 30px;
}

#navbar ul li:nth-child(1) img {
    height: 30px;
    margin-left: auto;
}

#navbar+img {
    height: 40px;
    display: none;
}

#navbar ul {
    list-style: none;
    display: flex;
    width: 81%;
    height: 100%;
    margin: auto auto;
    justify-content: space-between;
}

#navbar ul ul {
    width: 50%;

    margin-right: 75px;
}

#menuTog {
    display: none;
}

@media screen and (max-width: 789px) {
    #navbar ul {
        background: black;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        visibility: hidden;
        height: 100vh;
        top: 0;
        right: 0;
        transition: all .2s ease;
        flex-direction: column;
        align-items: center;
        margin: 0;
        z-index: 1000;
        animation: hide .2s ease;
        transform-origin: right;
    }
    #navbar ul li:nth-child(1) img {
        display: none;
    }
    #navbar ul ul {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        height: 100vh;
        width: 100vw;
        z-index: 1001;
        margin-right: 0;
        transform-origin: right;  
    }

    ul.hide {
        animation: show .2s ease !important;
        visibility: visible !important;
    }

    #navbar img {
        display: block;
        padding: 3px 0 3px 0;
        width: 60px;
    }

    #navbar ul ul li a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }

    #navbar ul #navbar ul ul li:nth-child(3),
    #navbar ul ul li:nth-child(2) {
        background: none;
        font-size: 1.2em;
    }

    #navbar ul ul li:nth-child(2) {
        --order: 2;
    }

    #navbar ul lu li:nth-child(3) {
        --order: 3;
    }

    #menuTog {
        z-index: 100000;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        cursor: pointer;
        flex-direction: column;
        border: none;
        outline: none;
        width: 40px;
        height: 55px;
        background: transparent;
        position: relative;
        margin-left: auto;
        /* box-sizing: border-box; */
        transition: all .2s ease;
        position: fixed;
        right: 10px;
    }

    #menuTog span {
        background: white;
        height: 2px;
        margin: 2px;
        transition: all .2s ease;

    }

    #menuTog span:nth-child(1) {
        width: 10px;
    }

    #menuTog span:nth-child(2) {
        width: 20px;
    }

    #menuTog span:nth-child(3) {
        width: 25px;
    }
    #menuTog.active span {
        background: black;
    }
    #menuTog.active span:nth-child(2) {
        transform: translateX(-50px);
        background: transparent;
        width: 25px;
    }

    #menuTog.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
        width: 25px;
        background:  !important black;

    }

    #menuTog.active span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
        /* background: !important black; */
    }

}