@import './animations.css';
#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: transparent;
}

#navbar ul li {
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    width: 100px;
    height: 30px;
    transition: all 1s ease-in-out;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


/* #navbar ul li:nth-child(1):hover,
#navbar ul li:nth-child(2):hover {
    display: none;
} */

#navbar>img {
    margin-right: auto;
    height: 30px;
    display: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
}

#navbar ul li:nth-child(2),
#navbar ul li:nth-child(3) {
    background: none;
    cursor: pointer;
    transform: all 1s ease;
    transition: font-size .3s ease;
    /* animation: colorSwitch 2.5s infinite; */
}
#navbar ul li:nth-child(2):hover,
#navbar ul li:nth-child(3):hover {
    font-size: 1.3em;
}

#navbar ul li:nth-child(1) {
    margin-left: 0;
    /* background-color: yellow; */
    width: 30px;
}

#navbar ul li:nth-child(1) img {
    height: 30px;
    margin-left: auto;
}

#navbar+img {
    height: 40px;
    display: none;
}

#navbar ul {
    list-style: none;
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto auto;
    justify-content: space-between;
}

#menuTog {
    display: none;
}

@media screen and (max-width: 789px) {
    #navbar ul {
            background: black;
            position: fixed;
            display: flex;
            width: 100vw;
            visibility: hidden;
            height: 100vh;
            padding: 30px;
            border-radius: 10px;
            top: 0;
            right: 0;
            transition: all 1s ease;
            flex-direction: column;
            align-items: center;
            margin: 0;
            z-index: 1000;
            animation: hide 1s ease;
            transform-origin: right;
        }
        ul.hide {
            animation: show 1s ease !important;
            visibility: visible !important;
        }
        #navbar img {
            display: block;
        }
        #navbar ul li a {
            text-decoration: none;
            color: white;
            padding: 10px;
        }
        #navbar ul li {
            transition: border .4s ease-in-out;
        }
        #navbar ul li:nth-child(3),
        #navbar ul li:nth-child(2) {
            background: none;
            font-size: 1.2em;
        }
        #navbar ul li:nth-child(1) {
            display: none;
        }
        #navbar ul li:nth-child(1) svg {
            width: 200px;
        }
        #navbar ul li:nth-child(2) {
            --order: 2;
        }
        #navbar ul li:nth-child(3) {
            --order: 3;
        }
        
        #menuTog {
            z-index: 100000;
            display: flex;
            justify-content: center;
            /* align-items: center; */
            cursor: pointer;
            flex-direction: column;
            border: none;
            outline: none;
            width: 40px;
            height: 55px;
            background: transparent;
            position: relative;
            margin-left: auto;
            /* box-sizing: border-box; */
            transition: all .2s ease;
        }
       /*  #menuTog:hover ~ span {
            width: 25px;
        }
 */      #menuTog span {
            background: white;
            height: 2px;
            margin: 2px;
            transition: all .2s ease;

        }
        #menuTog span:nth-child(1) {
            width:  10px;
        }
         #menuTog span:nth-child(2) {
            width: 20px;
        }
         #menuTog span:nth-child(3) {
            width: 25px;
            
        }
        #menuTog.active span:nth-child(2) {
            transform: translateX(-50px);
            background: transparent;
            width: 25px;
        }
        #menuTog.active span:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
            width: 25px;
        }
        #menuTog.active span:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);

        }
        
        #navbar ul li {
            margin: auto;
        }
       

}