.s2 {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 30px auto;
    padding: 30px 30px;
    background-color: var(--containers-color);
}

.s2 h4 {
    background-color: white;
    padding: 10px 25px;
    display: inline;
    border-radius: 20px;
    margin-top: 30px;
    color: black;
}

.s2 div {
    display: grid;
    grid-template-columns: 100px 100Px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 30px;
    padding: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

.s2 div img {
    max-height: 70px;
    margin: 10px;
}

.s2 img {
    max-height: 40px;
    box-sizing: border-box;
}

body h4 {
    color: black;
    margin: 10px auto;
    background-color: white;
    padding: 10px;
    width: 100Px;
    border-radius: 4px;
    font-family: sans-serif;
}