:root {
    --dark: black;
    --containers-color: #13171C;
    --font-color: #656e7a;
    --nav-buttons: var(--containers-color);
    --headers-font-color: #D2E4F9;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
}


/* navbar code */

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: transparent;
}

#navbar ul li {
    text-decoration: none;
    color: white;
    background: var(--nav-buttons);
    padding: 7px 30px;
    text-align: center;
    border-radius: 10px;
    width: 130px;
    transition: background 1s ease;
}

#navbar ul li:nth-child(1):hover,
#navbar ul li:nth-child(2):hover {
    background: rgb(44, 151, 44);
}

#navbar img {
    margin-right: auto;
}

#navbar ul li:nth-child(3):hover {
    transform: scale(1.01)
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#navbar ul li:nth-child(3) a {
    color: black;
    transition: color 1s ease;
}

#navbar ul li:nth-child(3) {
    background: #fff;
    transition: transform 0.4 ease;
}

#navbar img {
    height: 40px;
}

#navbar ul {
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#menuTog {
    display: none;
}


/* hero section style */

.inner-section {
    width: 80vw;
    height: 64vh;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    /* background: white; */
}

.inner-section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inner-section div img {
    height: 300px;
    border-radius: 10px;
}

.inner-section div div {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    width: 400px;
}

.inner-section div div p img {
    height: 30px;
    display: block;
    margin-right: 10px;
    margin: 10px;
}

.Logo {
    height: 30px;
    margin-right: auto;
}

.s section {
    display: flex;
    width: 100%;
}

.inner-section div p {
    background-color: var(--containers-color);
    font-weight: 600;
    padding: 20px;
    color: var(--font-color);
    border-radius: 10px;
}

.s2 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 30px auto;
    padding: 30px 30px;
    background-color: var(--containers-color);
}

.s2 h4 {
    background-color: white;
    padding: 10px 25px;
    display: inline;
    border-radius: 20px;
    color: black;
}

.s2 div {
    display: grid;
    grid-template-columns: 100px 100Px;
    grid-template-rows: 100px 100px;
    grid-gap: 20px;
    padding: 30px;
    margin-top: 10px;
}

.s2 div img {
    max-height: 200px;
}

footer {
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(22, 4, 100);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    border-top: 3px rgb(124, 120, 143) solid;
    margin-bottom: 10px;
    height: 30vh;
}

footer a {
    border: none;
    font-weight: 600;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background .6s ease-out;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 155, 30);
}

footer a:hover {
    background: black;
}

footer h1 {
    color: whitesmoke;
    padding: 30px;
}

footer h1 i {
    color: rgb(30, 155, 30)
}


/* media queries for responsiveness */

@Media screen and (max-width: 777px) {
    .inner-section div {
        flex-direction: column;
        Width: 100%;
    }
    .inner-section {
        height: 50vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .inner-section div img {
        display: none;
    }
    #navbar ul {
        background: hsl(0, 0%, 100%);
        display: none;
        -ms-transform-origin-y: 0;
        position: fixed;
        animation: show .5s linear;
        width: 50%;
        height: 400px;
        padding: 30px;
        border-radius: 10px;
        top: 5px;
        right: 5px;
        flex-direction: column;
        align-items: center;
        margin: 0;
        z-index: 10000;
    }
    @keyframes show {
        from {
            width: 0;
        }
    }
    @keyframes hide {
        to {
            width: 0;
        }
    }
    #navbar ul li {
        margin: auto;
    }
    #navbar ul li:nth-child(3) {
        background-color: #48515e;
    }
    #navbar ul li:nth-child(3) a {
        color: white;
        font-weight: bold;
    }
    .s2 {
        width: 100%;
    }
    .s2 h4 {
        margin-top: 5px;
    }
    #menuTog {
        z-index: 100000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
        border: none;
        outline: none;
        width: 40px;
        height: 50px;
        background: none;
        transition: transform 1s ease;
        position: relative;
        margin-left: auto;
        box-sizing: border-box;
        transition: all 3s ease-in-out;
    }
    #menuTog.active span:nth-child(2) {
        transform: translateX(-50px);
        background: transparent;
    }
    #menuTog.active span:nth-child(1) {
        transform: rotate(45deg);
    }
    #menuTog.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    #menuTog.active span {
        background-color: black;
        position: fixed;
    }
    #menuTog span {
        background: rgb(255, 255, 255);
        width: 25px;
        height: 2px;
        transition: transform 1s ease;
        margin: 2px;
    }
    .s2 {
        margin-top: 90px;
    }
    #navbar ul li {
        margin: auto;
    }
}

@Media screen and (max-width: 400;
) {
    #navbar ul a {
        margin-left: 10px;
    }
}