:root {
    --dark: black;
    --containers-color: #13171C;
    --font-color: #48515e;
    --nav-buttons: var(--containers-color);
    --headers-font-color: #D2E4F9;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
}


/* navbar code */

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

#navbar ul li {
    text-decoration: none;
    color: white;
    background: var(--nav-buttons);
    padding: 7px 30px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    min-width: 130px;
    transition: background 1s ease;
}

#navbar ul li:nth-child(1):hover,
#navbar ul li:nth-child(2):hover {
    background: rgb(44, 151, 44);
}

#navbar img {
    position: absolute;
    top: 12px;
    left: 20px;
}

#navbar ul li:nth-child(3):hover {
    transform: scale(1.01)
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#navbar ul li:nth-child(3) a {
    color: black;
    transition: color 1s ease;
}

#navbar ul li:nth-child(3) {
    background: #fff;
    transition: transform 0.4 ease;
}

#navbar img {
    height: 40px;
}

#navbar ul {
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#menuTog {
    display: none;
}

.sticky {
    background: rgb(64, 70, 64) !important;
    border-radius: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* hero section style */

.inner-section {
    width: 60vw;
    height: 64vh;
    margin-top: 40px;
}

.inner-section div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inner-section div img {
    height: 300px;
}

.inner-section div div {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    width: 400px;
}

.inner-section div div p img {
    height: 30px;
    display: block;
    margin-right: 10px;
    margin: 10px;
}

.inner-section div p {
    background-color: var(--containers-color);
    font-weight: 600;
    padding: 20px;
    color: var(--font-color);
    border-radius: 10px;
}

.s2 {
    display: flex;
    flex-direction: column;
    height: 70wh;
    justify-content: space-around;
    margin: 30px;
    padding: 30px 30px;
}

.s2 h4 {
    color: white;
    margin: 30px auto;
    background-color: var(--nav-buttons);
    padding: 10px 25px;
    border-radius: 20px;
}

.s2 div {
    display: grid;
    grid-template-columns: 1Fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.s2 div img {
    max-height: 200px;
}

footer {
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(22, 4, 100);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    border-top: 3px rgb(124, 120, 143) solid;
    margin-bottom: 10px;
    height: 30vh;
}

footer a {
    border: none;
    font-weight: 600;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background .6s ease-out;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 155, 30);
}

footer a:hover {
    background: black;
}

footer h1 {
    color: whitesmoke;
    padding: 30px;
}

footer h1 i {
    color: rgb(30, 155, 30)
}


/* media queries for responsiveness */

@Media screen and (max-width: 777px) {
    .inner-section div {
        flex-direction: column;
        Width: 100%;
    }
    .inner-section {
        height: 50vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .inner-section div img {
        display: none;
    }
    .s2 div {
        display: flex;
        align-items: space-between;
        flex-direction: column;
        margin-top: 10px;
    }
    #navbar ul {
        background: hsl(0, 0%, 100%);
        display: none;
        -ms-transform-origin-y: 0;
        position: fixed;
        animation: show .6s linear;
        width: 50%;
        height: 300px;
        border-radius: 10px;
        top: 5px;
        right: 5px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        z-index: 10000;
        /* height: 25vh;
z-index: 999;
width: 50vw;
display: none;
border-top: 3px wheat solid;
border-radius: 10px;
flex-direction: column;
align-items: center;
justify-content: center;
animation: show 0.7s linear;
transform-origin: 0 0;
position: fixed; */
    }
    /* .hide {
animation: hide 0.7s linear !important;
} */
    @keyframes show {
        from {
            width: 0;
        }
    }
    @keyframes hide {
        to {
            width: 0;
        }
    }
    #navbar ul li {
        width: 30%;
    }
    #navbar ul li:nth-child(3) {
        background-color: #48515e;
    }
    #navbar ul li:nth-child(3) a {
        color: white;
        font-weight: bold;
    }
    #menuTog {
        z-index: 100000;
        display: flex;
        flex-direction: column;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        background: none;
        transition: transform 1s ease;
        position: absolute;
        top: 15px;
        right: 15px;
        box-sizing: border-box;
        transition: border-radius 3s ease;
    }
    #menuTog span {
        background: rgb(255, 255, 255);
        width: 100%;
        height: 2px;
        margin: 2px;
        transition: transform 1s ease;
    }
    .s2 {
        margin-top: 90px;
    }
    #navbar ul li {
        margin: auto;
    }
}

@Media screen and (max-width: 400;
) {
    #navbar ul a {
        margin-left: 10px;
    }
}