.workflowHeader{
	color: white;
	margin: 10px auto;
}
.h3 {
	color: #6D5ECC;
}
.workflow {
	/* border: .3px dashed yellow; */
	display:  flex;
	flex-direction: row;
	justify-content: space-between;
	width:  80%;
	padding:  10px;
	height: 320px;
	margin: 10px auto;
}

.workflow div p {
	color:  white;
}
.workflow div {
	width: 30%;
    height: 280px;
    margin:  5px 10px;
	background:  transparent;
}


@media screen and (max-width: 1000px) {
	.workflow {
		width: 60vw;
		height: 120vh;
		flex-direction: column;
		justify-content: space-between;
		
	}
	.workflow div  {
		width: 90%;
    	margin:  5px 10px;
		height: 300px;
	}
}
@media screen and (max-width: 500px) {
	.workflow {
		/* border: .3px dashed yellow; */
		width: 80vw;
		height: 100vh;
		display:  flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.workflow > div {
		/* border: .3px dashed red; */

	}
}