* {
	box-sizing: border-box;
}
.workHeader {
	color: white;
	margin: auto auto;
}
.work {
	margin: auto auto;
	color:  white;
    transition: all 1s linear;
	/* background:  #1e211d; */
	width:  80%;
	height: 350px;
	/* border: 1px solid white; */
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.work > div {
    width: 30%;
    height: 280px;
    margin:  0 10px;
}

.work div h3 {
	width: 50%;
	margin:  10px 10px;
	height: 30px;
	color:  #6D5ECC;
	padding: 4px;
}
.work div p {
	width: 100%;
	margin:  20px 10px;
	padding: 4px;
}
.work div p::selection {
	color: black;
	background: white;
}
.work div a {
	background: white;
    color: black;
  	width: 90px;
	height: 30px;
	margin:  10px;
	padding: 2px 20px;
    border-radius:  10px;
    cursor:  pointer;
    border: 2px solid white;
    transition: all .5s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 500;
    text-decoration: none;
}


.work div a:hover {
    background: black;
    color:  white;
}

@media screen and (max-width: 1000px) {
	.work {
		width: 100%;
	}
	
	.work > div p {
		height: none;
	}
}
@media screen and (max-width: 805px) {
	.work {
		width: 70vw;
		height: 130vh;
		flex-direction: column;
		justify-content: space-between;	
	}
	.work > div {
		width: 70vw;
		height: 200px;
	}
	.work > div:nth-child(3) {
		height: 280px;

	}
}