.workflow h2 {
	margin: 10px auto;
	color:  white;

}
.h3 {
	color: #6D5ECC;
}
.workflow {
	display:  flex;
	flex-direction: column;
	justify-content: center;
	width: 40vw;
	margin: 30px auto;
}
.comps, .workflow div p {
	color:  white;
}
.workflow div {
	background:  #080808;
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 10px;
}


@media screen and (max-width: 800px) {
	.workflow {
		width: 70vw;
	}
}